# Archivos de configuración
config.private.ts

# Logs
logs
**/*.log
**/*.log*

# Javascript
**/*.js
**/*.map
*.js
**.js
*.map
**.map
# Javascript versioning
!jest.config.js
!swagger/static*/*.js

# Dist
dist

# Dependency directories
node_modules
typings
typings/*
.vscode

# Coverage
coverage
